@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;

}

.nav-img {
    display: flex;
    gap: 15px;

}


body {
    max-width: 1200px;
    margin: 0px auto;
}

nav {
    display: flex;
    gap: 15px;
    justify-content: space-between;
    margin-top: 50px;
}

nav img {
    padding: 20px;
}

.nav-title {
    font-size: 36px;
    font-weight: 900;


}

nav ul {
    display: flex;


}

nav li {
    list-style: none;
    margin-right: 10px;
    font-size: 20px;
    font-weight: 700;
    padding: 20px;
}

.title-color {
    color: #FF5400;

}

.banner {
    background-image: url(Images/Group\ 1.png);

    background-repeat: no-repeat;


    text-align: center;
    margin-top: 40px;

}




.banner-title {
    font-size: 64px;
    font-weight: 900;
    color: #FFFFFF;

}

.banner-description {
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
}

.banner-content {
    padding: 40px 60px;
}

.banner-input {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    background: #ffffff6c;
    padding: 15px;
    border-radius: 8px;
    margin: 65px 100px;
}

.banner-input input {

    padding: 20px 10px;
    border: none;
    justify-content: center;
    border-radius: 8px;
}

.button {
    background: #FF5400;
    padding: 20px 50px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;
}

/* banner finished */

/* main section popular */
.popular-title {
    font-size: 40px;
    font-weight: 900;
    color: #131318;
}

.common-text {
    font-size: 16px;
    font-weight: 400;
    color: #131318;
}

.popular-tours {
    display: flex;
    gap: 50px;
    margin-top: 100px;

}

.popular-tours img {
    margin-top: 30px;
}

.popular-content {
    width: 577px;


}



.popular-content li {
    margin-bottom: 30px;
}

.destination {
    text-align: center;
    padding-top: 50px;
}

.first-photo-container,
.second-photo-container,
.third-photo-container {
    display: flex;
    gap: 20px;
    margin: 30px auto;
}

.first-card {
    background-color: rgba(250, 235, 215, 0.6);
    width: 500px;
    height: 280px;
    padding: 20px;
    border: none;
    border-radius: 18px;

}

.second-card {
    background-color: rgba(127, 255, 212, 0.112);
    width: 500px;
    height: 280px;
    padding: 20px;
    border: none;
    border-radius: 18px;

}

.third-card,
.forth-card {
    background-color: rgba(165, 42, 42, 0.132);
    width: 500px;
    height: 280px;
    padding: 20px;
    border: none;
    border-radius: 18px;

}

.first-card-container {
    display: flex;
    gap: 20px;
    margin: 30px 50px;
}

.second-card-container {
    display: flex;
    flex-direction: column;

    gap: 20px;
    align-items: center;
}

.simple-place {
    display: flex;
    gap: 30px;
    margin-top: 50px;

}

.place-content {
    width: 532px;
    height: 400px;
}

.simple-place img {
    width: 600px;
}

.latter-content input {
    margin-bottom: 20px;
    padding: 20px 60px;
    background: #ece9e9;
    border-radius: 8px;
    border: none;
}

.latter-content {
    border: 2px solid tomato;
    border-radius: 18px;
    padding: 30px;


}

.latter-content button {
    padding: 20px 100px;
}

.news-latter {
    display: flex;
    gap: 20px;
    padding: 50px;

}

footer .nav-img {
    justify-content: center;



}

footer {
    text-align: center;
}

footer img {
    margin: 20px 10px;

}


.line {
    border-top: 1px solid rgba(20, 13, 13, 0.925);
    margin: 30px 50px;
}

@media screen and (max-width:576px) {
    body {
        margin: 0px auto;
    }

    nav,
    .banner-input,
    .popular-tours {
        flex-direction: column;
    }

    nav {
        margin-top: 0px;
        gap: 0px;
        padding-left: 0px;
        margin-left: 10px;
    }

    nav ul {
        padding: 0px;
        margin-left: 10px;

    }

    nav li {
        display: flex;
        padding: 10px;
        gap: 0px;
        justify-content: center;
    }



    .banner {
        border-radius: 18px;
        width: 500px;
        justify-items: center;
        margin-left: 30px;
        margin-top: 20px;

    }

    .banner-description {
        width: 400px;
        text-align: justify;
        margin-left: 50px;
    }

    .banner-input {
        margin: 0px 30px;
        justify-content: center;
        padding: 20px;
    }

    .banner-title {
        font-weight: 900;
        font-size: 22px;
        margin-top: 0px;
    }

    .banner-content {
        text-align: center;
        padding: 0px;
    }

    .banner-input input {
        padding-left: 80px;
        padding-right: 80px;
    }

    .banner-input button {
        padding-left: 125px;
        padding-right: 125px;
    }

    .popular-tours {
        margin: 20px 0px;
        gap: 0px;
    }

    .popular-tours img {
        width: 500px;
        margin: 30px;
        margin-bottom: 0px;
    }

    .popular-content {
        width: 500px;
        margin: 0px 30px;
    }

    .first-photo-container,
    .second-photo-container,
    .third-photo-container {
        display: flex;
        flex-direction: column;
        width: 500px;
        margin-left: 30px;
    }

    .destination {
        width: 500px;
        margin-left: 30px;
        padding: 0px;
    }

    .first-card-container {
        display: flex;
        flex-direction: column;

        margin-left: 10px;
        margin-right: 0px;
    }

    .second-card-container {
        align-items: normal;
        margin-left: 10px;
    }

    .simple-place,
    .news-latter {
        flex-direction: column;
        margin: 10px 0px;
        padding: 0px;
    }

    .place-content {
        width: 500px;
        margin-left: 30px;
        text-align: justify;
    }

    .simple-place img {
        width: 500px;
        margin-left: 30px;
    }

    .news-latter img {
        width: 500px;

    }

    .news-latter {
        width: 500px;
        margin-left: 30px;
        padding-top: 30px;
    }

    footer {
        width: 540px;
        align-items: center;
    }

    footer .nav-img {
        margin-right: 30px;
    }

    footer .common-text {
        text-align: center;
        width: 500px;
        margin-left: 30px;
    }

    footer img {
        padding-left: 10px;
    }

    .line {
        margin: 10px;
        margin-left: 30px;
    }

    .common-text {
        font-size: 20px;
        font-weight: 400;
    }
}